* {
    margin: 0 auto;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    background-color: black;
    margin-top: 200px;
}

.card_login {
    
    width: 800px;
    height: 600px;
    border-radius: 40px;
    background-image: url(https://preview.redd.it/d9spuwer2c491.png?width=1050&format=png&auto=webp&v=enabled&s=f6b6908ea6b25b4914c6aadce02a54ed064f4ae9);
    background-repeat: no-repeat;
    background-size: 800px 600px;
    padding: 60px;
    margin-top: 400px;
}
.card_login h1{
    color: #ffffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 80px;
}

.card_login input{

    padding: 45px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.card_login button{
    padding: 40px;
    border-radius: 20px;
    background-color: #e7f458;
    border: none;
    color: rgb(0, 0, 0);
    font-size: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card_login button:hover{
   
    background-color: #aeb938;
    
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --card-height: 80vh;
    --card-width: 20vh;
  }
  
  
  body#form {
    min-height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px; 
    padding-bottom: 2rem;
    box-sizing: border-box;
  }

  header {
    margin-bottom: 40px;
  }
  
  .form{
    margin-top: 40px;
  }

  .buttons {
    display: flex;
  }

  .buttons span {
    margin-top: 20px;
    display: block;
  }
  #area{
    width: 250px;
    margin-top: 20px;
  }
  .card {
    background: #191c29;
    padding: 0px;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    width: 350px;
    height: var(--card-height);
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
    font-family: cursive;
  }
  
  .card::before {
    content: "";
    width: 353px;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      position: absolute;
      z-index: -1;
      top: -1%;
      animation: spin 2.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width:350px;
    margin: 0;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
      opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
  #opcyes:hover{
      color: rgb(0, 255, 221);
  }
  .option{
      background-color: rgb(205, 50, 140);
      color: #fff;
      width: 100%;
      padding: 10px;
      display: flex;
      align-items: rigth;
      justify-content: rigth;
      margin: 10px;
      font-size: 35px;
      border-radius: 15px;
      transition: all .5s;
      box-shadow: 1px 3px 3px 2px rgba(1, 1, 1, .5);
      cursor: pointer;
  }
      /* Customize the label (the container) */
  .container_label  {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
  }
  
  /* Hide the browser's default checkbox */
  .container_label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container_label:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container_label  input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container_label  input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container_label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  

  body#end{
    color: black;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 20px;
    
  }

  #end img{
    width: 100%;
  }
  .legend_end{
/*     
    display: block; */
    display: flex;
    justify-content: center;
    
  }

  .legend_end h1{
    display: block;
    text-align: center;
  }

  .text_end{
    display: flex;
    justify-content: center;
  }
  .text_end h3{
    display: block;
  }
  .legend{
    display: block;
   align-items: center;
   margin-top: 180px;
  }
  /*game*/

body#game{
  margin-top: 20px;
  
  background-color: #26736c
 
}

.button_card{
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.button_game{
  background-color: #070707;
  margin-left: 10px;
  border: none;
  padding: 40px;
  color: #fff;
}

.button_game:active{
  padding: 10px;
  border: 2px solid white;
}